@font-face {
    font-family: 'digi';
    src: url(../res/fonts/DS-DIGII.TTF);
}

html {
    height: 100%;
}

body {
    background-color: gray;
    margin: 0;
    background-image: linear-gradient(gray,black);
    background-repeat: no-repeat;
    backgound-attachment: fixed;
    height: 100%;
    overflow: hidden;
}

label {
    margin:5px;
    text-align: left;
}

input {
    width: 50px;
}

h2 {
    text-align: left;
}
header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 26px;
    border-width: 0px 0px 2px 0px;
    border-style: ridge;
    border-color: black;
    font-family:'Trebuchet MS';
}

header img{
    margin: auto 10px;
}

audio {
    visibility: hidden;
}

#info {
    font-family: 'digi'; 
}

#container {
    margin: auto;
    width: 75%;
    text-align: center;
}

#countdown {
    font-size: 180px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

#round {
    font-size: 56px;
    margin-bottom: 2%;
}

#buttons {
    margin: 5%;
}

.start {
    background-image: linear-gradient(limegreen, darkgreen);
    text-shadow: 0 -1px 1px darkgreen;
    border: 3px outset green;
}

.work {
    background-color:green;
}

.stop {
    background-image: linear-gradient(red, maroon);
    text-shadow: 0 -1px 1px darkred;
    border: 3px outset darkred;
}

.rest {
    background-color:red;
}

.idle {
    background-color:gray;
}

.slider {
    width: 300px;
    margin: 0px 10px;
}

#reset {
    background-image: linear-gradient(lightseagreen, teal);
    background-color:teal;
    text-shadow: 0 -1px 1px darkcyan;
    border: 3px outset darkcyan;
}
#nextwork, #nextrest {
    background-color: dimgray;
}

button {
    font-size: 40px;
    border: 3px outset lightgray;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px;
    width: 300px;
}

button:hover:enabled {
    cursor: pointer;
    opacity: 0.7;
}

button:disabled {
    background-color: gray;
    border: 3px solid lightgray;
}

hr {
    margin: auto 0px;
}

#settings {
    padding: 25px;
    margin: 0px;
    border: outset gray 5px;
    border-radius: 5px;
    height: 100%;
    background-color: #CCCCCC;
    display: none;
}

#settune {
    float:left;
    margin-left: 50px;
}

#settune td {
    text-align: left;
}

#presets {
    float:right;
    text-align:left;
    margin-right: 100px;
}

#slideicon {
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
    border-style: inset;
    border-color: black;
    border-width: 2px 2px 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:gray;
    max-width: 20%;
}

#bell {
    border: solid black 5px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    top: 25px;
    left: 75px;
}

.clear {
    clear:both;
}
