@font-face {
    font-family: 'digi';
    src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

body {
    background-color: gray;
}

label {
    display:block;
    margin:5px;
}

audio {
    visibility: hidden;
}

#info {
    font-family: 'digi'; 
}

#container {
    margin: auto;
    width: 75%;
    text-align: center;
}

#countdown {
    font-size: 180px;
    border: 2px solid black;
    max-width: 60%; 
    margin: 20px auto;
}

#round {
    font-size: 56px;
    margin-bottom: 2%;
}

#buttons {
    margin: 5%;
}

#start-stop {
    background-color:green;
}

#reset {
    background-color:teal;
}

#nextwork {
    background-color: lime;
}

#nextrest {
    background-color: maroon;
}

button {
    font-size: 40px;
    border: 3px outset white;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
    width: 300px;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

button:disabled {
    background-color: gray;
}

#settings {
    position: absolute;
    top: 0px;
    left: -165px;
    padding: 30px;
    margin: 0px;
    border: ridge white;
    border-width: 0px 3px 0px 0px;
    height: 100%;
    background-color: #CCCCCC;
}

#presets {
    margin-top: 30px;
    text-align:left;
}

#slideicon {
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 5px;
}
